.home {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eaeded;
  margin: 0 auto;
  max-width: 1500px;
}

.home--image {
  width: 93.75vw;
  height: 72.5vh;
  z-index: -1;
  margin: 0 auto;
  mask-image: linear-gradient(to top, transparent 0%, black 25%);
  cursor: pointer;
}

.home--products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -365px;
  z-index: 1;
}
