.home {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eaeded;
  margin: 0 auto;
  max-width: 1500px;
}

.home--image {
  width: 100%;
  z-index: -1;
  margin-bottom: -345px;
  mask-image: linear-gradient(to top, transparent 0%, black 25%);
}

.home--row {
  display: flex;
  z-index: 1;
}
