.home {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #eaeded;
	margin: 0 auto;
	max-width: 1500px;
}

.home--image {
	height: 72.5vh;
	z-index: -1;
	margin: 0 auto;
	cursor: pointer;
}

.home--products {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: -31.5rem;
	z-index: 1;
}
